---
layout: default
---

<h1>Let's create together</h1>

<h2>Here's my email</h2>
<p>ritarlmarques99@gmail.com</p>
<!-- depois pôr o mail com link-->

<h2>Check me on social media</h2>
   <ul>
       <li><a href=“https://www.linkedin.com/in/ritarlmarques/” title=“linkedin profile page” target=“_blank”>linkedin</a></li>
       <li><a href=“https://www.behance.net/ritarlmarques” title=“behance profile page” target=“_blank”>behance</a></li>
       <li><a href=“https://www.instagram.com/aanaagouveia/” title=“instagram profile page” target=“_blank”>instagram</a></li>
   </ul>
